#wrapper{
    width: 1366px;
    height: 768px;
    border: 1px black solid;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/Milan_Holidays.png");
    font-family: "AdobeInvisFont" ,"Verdana" , sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin: auto;
}
.header {
    height: 141px;
}
#milan {
    float: left;
    margin-top: 45px;
    margin-left: 15px;
}
.logo {
    float: left;
    margin-left: 150px;
    margin-top: 49px;
}

#email {
    display: inline-block;
    margin-top: 57px;
    margin-left: 652px;
    margin-right: 150px;
}
.milan, .holidays {
    font-family: "AdobeInvisFont" ,"Verdana-Bold" , sans-serif;
    color: #f26522;
}
.phone {
    text-align: right;
}
.milan {
    font-size: 29px;
    height: 30px;
}
.shopping {
    float: left;
    margin-left: 150px;
    margin-right: 67px;
}
a {
    text-decoration: none;
}
.content img {
    border: 2px solid transparent;
    border-image: linear-gradient(0deg, black, white);
    border-image-slice: 1;
}
.sightseeing {
    float: left;
    margin-right: 65px;
}
.bars {
    float: left;
    margin-left: 150px;
    margin-right: 67px;
    margin-top: 55px;
}
.art {
    float: left;
    margin-right: 65px;
    margin-top: 55px;
}
.walking {
    float: left;
    margin-top: 55px;
    margin-right: 150px;
}
.food {
    margin-right: 150px;
    float: left;
}
span {
    color: white;
}
span:hover {
    color: #f26522;
}
.footer {
    margin-top: 58px;
    font-size: 12px;
    float: left;
    margin-left: 512px;
}
.sh, .si, .fo, .ba, .ar, .wa {
    position: relative;
    height: 204px;
    margin-bottom: 16px;
}
.decr-1, .decr-2, .decr-3, .decr-4, .decr-5, .decr-6 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 63px;
    background: #f26522;
    opacity: 0;
    transition: bottom 5s;
}
.sh:hover .decr-1 {
    opacity: 1;
}
.si:hover .decr-2 {
    opacity: 1;
}
.fo:hover .decr-3 {
    opacity: 1;
}
.ba:hover .decr-4 {
    opacity: 1;
}
.ar:hover .decr-5 {
    opacity: 1;
}
.wa:hover .decr-6 {
    opacity: 1;
}
.euro-1, .euro-2, .euro-3, .euro-4, .euro-5, .euro-6 {
    float: left;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 21px;
}
.from-1, .from-2, .from-3, .from-4, .from-5, .from-6 {
    text-align: left;
    font-size: 10px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 21px;
    margin-top: 10px;
}
.view-1, .view-2, .view-3, .view-4, .view-5, .view-6 {
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 185px;
    padding-top: 16px;
}

