
body,html{
    font-family: "AdobeInvisFont" ,"Roboto" , sans-serif;
    background: black;
}
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
/*----Navigation----*/
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 110px;
}
.topnav a {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}
.topnav a:hover {
    color: #33bad1;
}
.nameLogo-1, .nameLogo-2 {
    font-size: 36px;
}
.nameLogo-2 {
    color: #14afca;
    margin-right: 182px;
    font-weight: bolder;
}
.nameLogo-1 {
    font-weight: normal;
}
.companies, .testimonials {
    margin-right: 50px;
    margin-left: 50px;
}

/*----Main Sections----*/

.section-1, .section-2, .section-3, .sectionMain-1, .sectionMain-2, .sectionMain-3 {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.static-1, .static-2, .static-3 {
    background: white;
    display: block;
}
.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}
.bg1::after {
    height: 100vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/img_bg1.jpg");
}
.bg2::after {
    height: 100vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(../img/img_bg2.jpg);
}
.bg3::after {
    height: 100vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/img_bg3.jpg);
}
/*----Parallax-1 Main----*/

.sectionMain-1 {
    height: 380px;
    color: white;
}
.parallaxTitle-1 {
    text-align: center;
    font-size: 52px;
    font-weight: bolder;
    text-transform: uppercase;
}

/*----Parallax-1 Static----*/

.static-1 {
    height: 490px;
    clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    text-align: center;
    font-size: 18px;
}
.static1Title {
    padding-top: 20vh;
    font-size: 60px;
    color: #14afca;
    margin: 0;
}
.static1Text-1 {
    font-weight: bolder;
    margin-top: 30px;
}
.static1Text-2 {
    display: inline-block;
    width: 973px;
    margin-top: 42px;
}

/*----Parallax-2 Main----*/

.sectionMain-2 {
    display: block;
    height: 634px;
    color: white;
    text-align: center;
}
.parallaxTitle-2 {
    font-size: 60px;
    color: #14afca;
    padding-top: 52px;
    padding-bottom: 27px;
}
.parallaxTitle-3 {
    font-size: 18px;
    padding-bottom: 49px;
}
.parallax_2PhotoWrapper-1 {
    display: inline-block;
}
.parallax_2PhotoWrapper-2 {
    display: inline-block;
    margin-top: 100px;
}
.parallax_2Photo-1, .parallax_2Photo-2, .parallax_2Photo-3, .parallax_2Photo-4,
.parallax_2Photo-5, .parallax_2Photo-6, .parallax_2Photo-7, .parallax_2Photo-8 {
    float: left;
}
.parallax_2Photo-1 {
    padding-top: 30px;
}
.parallax_2Photo-2 {
    background-color: white;
    padding: 10px;
    margin-left: 56px;
    margin-right: 48px;
}
.adobe {
    float: right;
    padding-top: 15px;
}
.parallax_2Photo-3 {
    padding-top: 25px;
    margin-right: 69px;
}
.parallax_2Photo-4 {
    padding-top: 10px;
}
.parallax_2Photo-6 {
    padding-top: 5px;
    margin-left: 65px;
    margin-right: 62px;
}
.parallax_2Photo-8 {
    padding-top: 5px;
    margin-left: 73px;
}

/*----Parallax-2 Static----*/

.static-2 {
    height: 765px;
    clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    text-align: center;
    font-size: 18px;
 }
.staticTitle-2 {
    font-size: 60px;
    font-weight: bolder;
    color: #14afca;
    padding-top: 170px;
    padding-bottom: 27px;
}
.staticTitle-3 {
    font-size: 18px;
    padding-bottom: 49px;
}
.staticWrapper {
    display: flex;
    justify-content: center;
}
.textPhotostatic-1, .textPhotostatic-2, .textPhotostatic-3 {
    font-size: 14px;
    width: 279px;
}
.textPhotostatic-2 {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 5px;
}

/*----Parallax-2 Main----*/

.sectionMain-3 {
    display: block;
    height: 489px;
    color: white;
    text-align: center;
}
.parallaxTitle-4 {
    font-size: 60px;
    text-transform: uppercase;
    color: #14afca;
    padding-top: 52px;
    padding-bottom: 27px;
}
.parallax_3Text-1 {
    font-size: 18px;
    padding-bottom: 49px;
}
.parallax_3Text-2, .parallax_3Text-3  {
    display: inline-block;
    width: 877px;
    font-size: 16px;
    font-style: italic;
}
.parallax_3Text-3 {
    text-align: end;
    padding-top: 25px;
}

/*----Parallax-3 Static----*/

.static-3 {
    clip-path: polygon(50% 20%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    text-align: center;
    font-size: 18px;
}
.static_3Text-1 {
    padding-top: 20px;
}
.static_3Text-2 {
    font-size: 30px;
    font-weight: bolder;
    display: inline-block;
    width: 810px;
    padding-top: 50px;
}

/*----Footer----*/

.footer {
    font-size: 13px;
    margin-top: 100px;
}
.footertext3 {
    font-size: 15px;
    font-weight: bolder;
}