html {
    background: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: "AdobeInvisFont" ,"Verdana" , sans-serif;
    font-size: 14px;
}
/*Header*/
nav {
    background-image: url("../img/Header-fon@1X.png");
    color: white;
}
.journey {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 81px;
    line-height: 56px;
}
.journey:hover {
    color: #70cb9c;
}
/*Sing In*/
.sing {
    margin-bottom: 15px;
}
.logIn, .singUp {
    display: inline-block;
}
.singUp {
    font-size: 20px;
    margin-left: 42px;
}
.logIn {
    font-size: 14px;
    margin-left: 186px;
}
a {
    color: #70cb9c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*Main*/
main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    background-color: white;
    width: 444px;
    height: 584px;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
}
/*Buttons facebook and google*/

.facebook {
    display: inline-block;
    background-color: #305db8;
    border-radius: 5px 5px 5px 5px;
    width: 157px;
    height: 46px;
    margin-bottom: 20px;
    margin-left: 62px;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    outline: none;
}
.face, .goo{
    display: inherit;
    color: white;
    overflow: hidden;
    margin-left: 1.24vw;
    margin-bottom: 3px;
}
.google {
    width: 157px;
    height: 46px;
    display: inline-block;
    opacity: 1;
    background-color: #df4a32;
    border-radius: 5px 5px 5px 5px;
    color: white;
    overflow: hidden;
    outline: none;
}
/*Sprite*/
.ic-forum-1x-1, .ic-forum-1x, .g-1x, .ic-journey-1x-1, .ic-journey-1x,
.ic-caledar-1x-1, .ic-caledar-1x, .shape-1x, .facebook1-1x, .rectangle-2-1x,
.line-1x {
    display: inline-block;
    background: url('../Icons/spriteAll.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}
.ic-forum-1x {
    background-position: -0px -20px;
    width: 28px;
    height: 20px;
    margin-left: 28px;
    margin-right: 28px;
}
.ic-forum-1x:hover {
    background-position: -0px -0px;
    width: 28px;
    height: 20px;
}
.g-1x {
    background-position: -0px -40px;
    width: 25px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: 3px;
}
.ic-journey-1x {
    background-position: -0px -76px;
    width: 20px;
    height: 20px;
    margin-right: 50px;
}
.ic-journey-1x:hover {
    background-position: -0px -56px;
    width: 20px;
    height: 20px;
}
.ic-caledar-1x {
    background-position: -0px -115px;
    width: 19px;
    height: 19px;
    margin-left: 770px;
}
.ic-caledar-1x:hover {
    background-position: -0px -96px;
    width: 19px;
    height: 19px;
}
.shape-1x {
    background-position: -0px -134px;
    width: 18px;
    height: 18px;
    margin-top: 29px;
}
.facebook1-1x {
    background-position: -18px -134px;
    width: 10px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.rectangle-2-1x {
    background-position: -25px -40px;
    width: 1px;
    height: 28px;
}
.line-1x {
    background-position: -26px -40px;
    width: 1px;
    height: 19px;
}
.or, .in, .icons {
    display: inline-block;
}
/*Title*/
.title {
    overflow: hidden;
    text-align: center;
    font-size: 2vh;
    color: #cecece;
}
.title:before,
.title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 163px;
    height: 1vh;
    background: #eaeaea;
    border: solid #FFF;
    border-width: 1vw;
}
.title:before {
    margin-left: -100%;
}
.title:after {
    margin-right: -100%;
}
/*Buttons*/

input {
    border: .5px solid black;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    display: block;
    height: 46px;
    width: 296px;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 19px;
    opacity: .3;
    outline: none;
}
input:focus {
    box-shadow: 0 .3vh 1vh black;
}
.main .pass {
    margin-bottom: 19px;
}
/*CheckBox*/
label {
    margin-left: 65px;
}
.agree {
    display: inline-block;
    opacity: .7;
}
input[type="checkbox"] {
    position: absolute;
    left: -999px;
}
input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid #A6A6A6;
    border-radius: 4px;
}
input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    top: 5px;
    left: 3px;
    border: 3px solid #3cb878;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
.Create_account {
    background-color: #3cb878;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    color: #ffffff;
    width: 322px;
    opacity: 1;
    margin-bottom: 32px;
    margin-top: 28px;
}




