#wrapper {
    font-family: 'Roboto', Courier, sans-serif;
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 2px;
    margin: auto;

}
header  {
    margin-top: 32px;
    margin-bottom: 35px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #16a085;
}
.photoapp {
    margin-left: 65px;
    margin-right:70px;
}
.download {
    margin-left: 78px;
}
div .main {
    background-color: #f5f6f7;
}
h1 {
    margin-top: 59px;
    margin-bottom: 34px;
    font-size: 22px;
}
.text {
    padding-left: 113px;
    padding-right: 108px;
}
p {
    margin-bottom: 0;
}
button {
    background-color: #16a085;
    color: white;
    font-size: 12px;
    width: 192px;
    height: 51px;
    border-radius: 5px;
    margin-top: 41px;
    margin-bottom: 94px;
}
footer{
    height: 108px;
    padding-right: 104px;
    text-align: right;
}
.footer {
    padding-top: 47px;
    font-size: 16px;
}