#wrapper {
    font-family: "AdobeInvisFont" ,"Roboto" , sans-serif;
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
    margin: auto;
}
div .header_logo {
    margin-top: 61px;
    margin-bottom: 45px;
}
div .header_logo a {
    color: #000000;
    font-size: 80px;
    text-decoration: none;
    margin-left: 101px;
}
.colortext {
    color: #4bcaff;
}
nav {
    background-color: #35444f;
    float: left;
    width: 100%;
    height: 69px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    list-style-type: none;
    display: block;
    height: 69px;
}
nav ul :hover {
    background-color: #222f3a;
}
nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 69px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.unctional_programming {
    width: 492px;
    text-align: right;
}
.unctional_programming a {
    padding-right: 42px;
}
.ramda {
    width: 150px;
    text-align: center;
}
.fantasy_land_spec {
    width: 268px;
}
.fantasy_land_spec a {
    padding-right: 43px;
    padding-left: 42px;
}
.node_js_for_all {
    width: 370px;
}
.node_js_for_all a {
    padding-left: 43px;
}
div #main {
    float: left;
}
#main_logo {
    float: left;
    margin-left: 48px;
}
#sidebar {
    float: left;
    background-color: #ffffff;
}
#sidebar ul {
    padding-left: 0;
    margin-top: 51px;
    width: 344px;
    height: 399px;
}
#sidebar ul :hover {
    background-color: #dbdbdb;
    -webkit-transform: scale(1.1);
}
#sidebar ul li {
    border: 1px black solid;
    list-style-type: none;
    height: 80px;
    line-height: 80px;
    padding-left: 44px;
}
#sidebar ul li :hover {
    font-weight: bolder;
    font-size: 30px;
}
#sidebar ul li a {
    text-decoration: none;
    font-size: 28px;
    color: rgba(73, 88, 99, 255);
    text-align: left;
}
div #main_logo {
    border: 1px black solid;
    width: 885px;
    height: 529px;
    margin-top: 51px;
}
.img_logo {
    margin-top: 75px;
    margin-bottom: 73px;
    margin-left: 297px;
    margin-right: 268px;
    overflow: hidden;
}
.img_logo img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.img_logo:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
div .text span {
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
    display: inline-block;
    margin-left: 426px;
    margin-right: 39px;
}
.text-first {
    margin-top: 50px;
}
.text-second {
    margin-top: 30px;
    margin-bottom: 51px;
}
footer {
    float: left;
    background-color: #b4b7ba;
    width: 1280px;
    height: 69px;
    font-size: 26px;
}
footer ul {
    float: left;
    margin-left: 44px;
    padding-left: 0;
}
.footer ul li a {
    text-decoration: none;
    color: #0c1927;
}
.footer ul li {
    display: inline-block;
    margin-left: 10px;
}
.footer ul li :hover {
    color: #88a5b3;
    text-decoration: underline;
}
.footer_nav ul {
    width: 800px;
    margin-top: 21px;
}
div .copiright {
    list-style-type: none;
    float: left;
    margin-top: 22px;
    margin-left: 216px;
    margin-right: 34px;
    font-size: 24px;
}