html, body {
    font-family: "AdobeInvisFont", "Montserrat", sans-serif;
    width: 1160px;
    height: 100%;
    margin: auto;
}

/*----Parallax-1----*/
.parallax_1 {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3)), url("../img/SectionsBackground/section-1(header).jpg");
    min-height: 840px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----Navigation----*/
.parallax_1 nav {
    height: 110px;
}

.parallax_1 nav .topnav {
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3));
    line-height: 110px;
    padding-left: 110px;
}

.parallax_1 nav .topnav .search-container {
    margin-top: 45px;
}

.parallax_1 nav .topnav a {
    float: left;
    display: block;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
}

.parallax_1 nav .topnav a:hover {
    color: #18cfab;
    border-bottom: 3px solid #18cfab;
    margin-bottom: 3px;
}

.nameLogo-1, .nameLogo-2 {
    color: white;
    float: left;
    font-size: 25px;
}

.parallax_1 nav .topnav .nameLogo-1 {
    margin-left: 10px;
}

.parallax_1 nav .topnav .nameLogo-2 {
    color: #18cfab;
    font-weight: bolder;
    font-size: 25px;
    margin-right: 70px;
}

.parallax_1 nav .topnav img {
    float: left;
    margin-top: 21px;
    margin-left: 21px;
}

.parallax_1 nav .topnav .logo {
    color: white;
    float: left;
    margin-left: -43px;
    font-size: 40px;
    font-weight: bolder;
}

.parallax_1 nav .topnav .search-container form input[type=text] {
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    background-color: black;
    background-image: url('../img/fa-search@1X.png');
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
}

.parallax_1 nav .topnav .search-container form input {
    float: left;
}

/*----Buttons in Paralllax-1----*/
main .parallax_1 .title_1Parallax_1 {
    color: rgba(255, 255, 255, 255);
    font-size: 35px;
    font-weight: bolder;
    padding-top: 180px;
    text-transform: uppercase;
}

main .parallax_1 .title_1Parallax_1 .title_1Parallax_1Еagline_2 {
    color: #18cfab;
}

main .parallax_1 .title_2Parallax_1 {
    color: rgba(212, 212, 212, 255);
    font-size: 77px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 37px;
    text-transform: uppercase;
}

main .parallax_1 .title_3Parallax_1 {
    color: #d4d4d4;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 142px;
    text-transform: uppercase;
}

main .parallax_1 .button-1, main .parallax_1 .button-2 {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
}

button {
    color: white;
    cursor: pointer;
    height: 61px;
    width: 166px;
    border-radius: 5px;
}

.button-1 button, .button-2 button, .parallax_2 button {
    border-top: 5px solid white;
}

main .parallax_1 .button-1 .exploreNow {
    background-color: #18cfab;
    text-transform: uppercase;
    font-weight: bolder;
}

main .parallax_1 .button-2 .purchaseNow {
    background-color: #00cbf6;
    text-transform: uppercase;
    font-weight: bolder;
}

/*----Main in Parallax-1*/
.main-1 {
    height: 900px;
    background-color: #f2f2f2;
    font-size: 36px;
    text-align: center;
}

.main_1Navi {
    height: 300px;
    display: flex;
}

.main_1NaviBlock1, .main_1NaviBlock2, .main_1NaviBlock3, .main_1NaviBlock4 {
    width: 290px;
    font-size: 20px;
    text-decoration: none;
}

.main_1NaviBlock2Size2, .main_1NaviBlock2Size4 {
    padding-top: 95px;
    padding-bottom: 20px;
}

.main_1NaviBlock2Size1, .main_1NaviBlock2Size3 {
    padding-top: 75px;
    padding-bottom: 20px;
}

.main_1NaviBlock1, .main_1NaviBlock3 {
    background-color: #1c2a33;
    color: #18cfab;
}

.main_1NaviBlock2, .main_1NaviBlock4 {
    background-color: #18cfab;
    color: #ffffff;
}

.main_1NaviBlock1Small1, .main_1NaviBlock1Small3 {
    height: 7px;
    background-color: #18cfab;
}

.main_1NaviBlock1Small2, .main_1NaviBlock1Small4 {
    height: 7px;
    background-color: #ffffff;
}

.main-1 .mainTitle {
    padding-top: 82px;
}

/* Style the buttons inside the tab */
.main-1 .tab {
    display: inline-block;
    padding-top: 70px;
    overflow: hidden;
    text-align: center;
}

.main-1 .tab button {
    color: #959697;
    background-color: #f8fcfe;
    display: inline-block;
    padding: 0;
    float: left;
    margin: auto;
    border: 1px solid gainsboro;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 0;
    height: 73px;
}

/* Change background color of buttons on hover */
.main-1 .tab button:hover {
    background-color: #18cfab;
    color: #ffffff;
}

/* Create an active/current tablink class */
.main-1 .tab button.active {
    background-color: #18cfab;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 64% 75%, 50% 100%, 36% 75%, 0% 75%);
    height: 97px;
    color: #ffffff;
}

/* Style the tab content */
.main-1 .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.main-1 .tabcontent .ourServicesTabLorem {
    font-size: 14px;
    display: inline-block;
    height: 139px;
    width: 790px;
    text-align: justify;
}

.main-1 .tabcontent .ourServicesImg {
    display: inline-block;

}

.main-1 .tabcontent .ourServicesImg .contantSize {
    width: 194px;
    height: 139px;
}

/*----Parallax-2----*/
.parallax_2 {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/SectionsBackground/section-2.jpg");
    min-height: 476px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_2 .title1Parallax_2 {
    color: #18cfab;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 128px;
    padding-bottom: 35px;
}

.parallax_2 .title2Parallax_2 {
    color: rgba(216, 216, 216, 255);
    font-size: 16px;
    padding-bottom: 76px;
}

.parallax_2 .btnParallax2 {
    background-color: #18cfab;
    height: 61px;
    width: 165px;
}

/*----Main in Parallax-2*/
.main-2 {
    background-color: #f8fcfe;
    font-size: 36px;
    text-align: center;
}

.main-2 .mainTitle {
    padding-top: 100px;
}

.main-2 .main2BG2 {
    background-color: #ffffff;
}

.main-2 .main2Buttons {
    padding-top: 70px;
}

.main-2 .main2Buttons .row {
    margin-top: 70px;
}

.main-2 .main2Buttons #myBtnContainer {
    display: inline-block;
    text-align: center;
}

.main-2 .main2Buttons #myBtnContainer button {
    float: left;
}

.main-2 .main2Buttons #myBtnContainer #btnAll {
    width: 100px;
}

.main-2 .main2Buttons #myBtnContainer .btn:hover {
    border-top: 5px solid #18cfab;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none;
}

.main2Buttons .btnAddMore, .btnAddMore1 {
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    background-color: #18cfab;
    font-weight: bolder;
}

.loadMore {
    padding-left: 10px;
}

/*Hover for img*/
.columnHover {
    width: 288px;
    height: 206px;
    position: absolute;
    opacity: 0;
    background-color: #f8fcfe;
}

.columnHover:hover {
    opacity: 1;
    background-color: #f8fcfe;
    border-top: 5px solid #18cfab;
}

.columnTitle1Hover {
    font-size: 24px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 13px;
}

.columnTitle2Hover {
    font-size: 20px;
    color: rgba(138, 138, 138, 255);
}

.columnImg1Hover {
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.columnImg2Hover {
    border: 1px solid #18cfab;
    border-radius: 50%;
    background-color: #18cfab;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.columnImg1Hoverimg {
    padding-bottom: 5px;
}

.columnHover a {
    text-decoration: none;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    height: 206px;
    width: 284px;
}

.show {
    display: block;
}

/* Style the buttons */
.btn {
    color: #959697;
    background-color: #f8fcfe;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 0;
    height: 58px;
    width: 145px;
    padding: 0;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #ffffff;
    color: #18cfab;
    border-top: 5px solid #18cfab;
}

#more {
    display: none;
}

.myDIVHidden {
    display: none;
}

.wrapper {
    display: none;
}

/*Main-2 Blocks 2*/
.main2BG2 {
    padding-bottom: 88px;
}

.main2BG2 .row2Main2 {
    display: inline-block;
    margin-top: 70px;
    text-align: center;
}

.main2BG2 .row2Main2 .column2main2 {
    background-color: #f8fcfe;
    border: 0.1px solid gray;
    display: inline-block;
    margin-bottom: 45px;
}

.main2BG2 .row2Main2 .column2main2 .column2main2Link {
    text-decoration: none;
}

.breakingNewsTitle {
    font-size: 18px;
    font-weight: bolder;
    color: rgba(113, 113, 113, 255);
}

.breakingNewsTitle:hover {
    color: #18cfab;
}

.main2Bg2Line1 {
    height: 5px;
    margin-right: 30px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203e38;
    height: 66px;
    width: 68px;
    font-size: 17px;
}

.top-right:hover {
    background: #18cfab;
}

.breakingNewLink {
    font-size: 14px;
    text-decoration: none;
    color: rgba(119, 119, 119, 255);
}

.rectangle {
    display: inline-block;
    font-size: 20px;
    color: rgba(119, 119, 119, 255);
}

/*----Parallax-3----*/
.parallax_3 {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3)), url("../img/SectionsBackground/section-3.jpg");
    min-height: 851px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----Buttons in Paralllax-3----*/
.parallax_3 .mainTitle {

    padding-top: 127px;
    padding-bottom: 31px;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
}

.parallax_3 .parallax_3Forma {
    padding-top: 69px;
    padding-bottom: 43px;
}

.parallax_3 .parallax_3MainTitle1 {
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
}

.container1 {
    position: relative;
    margin-top: 110px;
}

.mySlides {
    display: none;
    margin-bottom: 30px;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    bottom: 3%;
    border: 0.5px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    height: 31px;
    width: 31px;
}

.parallax_3 .container1 .next {
    right: 23%;
}

.parallax_3 .container1 .prev {
    left: 20%;
}

.prev:hover,
.next:hover {
    background-color: #18cfab;

}

.container1 .mySlides .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    top: -30%;
    left: 46%;
    position: absolute;
}

.container1 .mySlides .numbertext .nambertextName {
    font-size: 16px;
    color: #18cfab;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.row11:after {
    content: "";
    display: table;
    clear: both;
}

.column1 {
    margin-right: 20px;
    display: inline-block;
}

.active1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.active1,
.demo:hover {
    border: 3px solid transparent;
    box-shadow: 0 0 7px #18cfab;
}

.demo {
    width: 61px;
    height: 61px;
    margin-right: 10px;
    border-radius: 50%;
}

.demo1 {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    border: 3px solid transparent;
    box-shadow: 0 0 7px #18cfab;
}

/*----Main in Parallax-3*/
.main-3 {
    background-color: #f2f2f2;
    font-size: 36px;
    text-align: center;
}

.main-3 .mainTitle {
    padding-top: 98px;
}

.main-3 .main2Bg2Line2 {
    padding-bottom: 75px;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column2 {
    flex: 20%;
    align-items: center;
}

.imgSize {
    width: 115px;
}

/*----Footer----*/
footer .footer {
    background: url("../img/Rectangle 56@1X.png");
    color: rgba(174, 174, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    font-size: 14pt;
    text-align: left;
}

.footer a {
    text-decoration: none;
    color: #18cfab;
}











