html, body {
    background-image: url("../img/Background@1X.png");
    background-size: 100vh 100vw;
    font-family: AdobeInvisFont, 'Arimo', sans-serif;
    color: #484848;
    text-align: center;
    text-transform: uppercase;
}
.wrapper {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    font-size: 16px;
    border-collapse: collapse;
    background-color: white;
    height: 680px;
    width: 1140px;
    margin: auto;
}
td {
    border: 1px solid #d7d7d7;
    height: 65px;
    width: 273px;
}
.buy {
    height: 111px;
}
.name {
    width: 310px;
    color: black;
}
.storage,.email, .products {
    background-color: #f2f2f2;
}
.bandwidth, .users, .support {
    background-color: #e3e3e3;
}
.choose {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.choose_your {
    font-size: 18px;
}
.pricing_plan {
    font-size: 30px;
}
.standard, .buy_now_1 {
     background-color: #89c331;
 }
.ultimate, .buy_now_2 {
     background-color: #f04a56;
 }
.premium, .buy_now_3 {
    background-color: #20807c;
}
.now_2 {
    background-color: #f4f4f4;
}
.now_1 {
    background-color: #eeeeee;
}
.now_1:hover {
    background-color: #dddddd;
}
.now_2:hover {
    background-color: #dddddd;
}
.dollars {
    font-size: 60px;
    font-weight: bolder;
    margin-left: 35px;
}
div {
    display: inline-block;
    float: left;
}
.centsper {
    margin-top: 10px;
}
.cents {
    font-size: 24px;
    font-weight: bolder;
}
.per_month {
    font-size: 18px;
}
i {
    margin-right: 12px;
}
input {
    height: 49px;
    width: 192px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}
.contact_us {
    background-color: #484848;
}