html, body {
    font-family: "AdobeInvisFont" ,"Roboto" , sans-serif;
    width: 100%;
    height: 100%;
}

/*----Navigation----*/

nav {
    height: 70px;
}
.topnav {
    overflow: hidden;
    background-color: #1d2124;
    line-height: 70px;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .search-container {
    float: right;
}
.logoName {
    color: white;
    float: left;
    margin-left: 27px;
}
nav .topnav img {
    float: left;
    margin-top: 21px;
    margin-left: 21px;
}
.home {
    margin-left: 211px;
    padding-left: 19px;
    padding-right: 19px;
}
.strange, .blog, .architecture, .magazine, .blog {
    padding-left: 19px;
    padding-right: 19px;
}
.news {
    margin-right: 211px;
    padding-left: 19px;
    padding-right: 19px;
}
nav .topnav .logoName {
    font-size: 22px;
    font-weight: bolder;
}
input[type=text] {
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: black;
    background-image: url('../img/fa-search@1X.png');
    background-position: 28px 28px;
    background-repeat: no-repeat;

    transition: width 0.4s ease-in-out;
}
input {
    float: left;
}

/*----Parallax-1----*/

.parallax_1 {
    text-align: center;
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3) ), url("../img/header-bg.jpeg");
    min-height: 404px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*----Buttons in Paralllax-1----*/

.parallax_1 .title {
    color: white;
    font-size: 27px;
    padding-top: 127px;
    padding-bottom: 44px;
}
.button-1, .button-2 {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
}
button {
    color: white;
    cursor: pointer;
    height: 55px;
    width: 170px;
    border-radius: 5px;
}
.parallax_1 .subscribeNow {
    background-color: #89ca62;
}
.parallax_1 .bestArticles {
    background-color: #14b9d5;
}

/*----Main in Parallax-1*/

.main-1 {
    height: 1030px;
    background-color: #f2f2f2;
    font-size: 36px;
    text-align: center;
}
.mainTitle {
    color: #18b4cf;
    font-size: 27px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;

}
.main-1 .photoParallax-1 {
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.post-1, .post-2, .post-3, .post-4, .post-5, .post-6 {
    margin: 15px 16px;
}
.post-4 {
    margin-top: -105px;
}
.post-6 {
    margin-top: -75px;
}
.photoTitle {
    height: 61px;
    background-color: #ffffff;
    line-height: 61px;
}

/*----Parallax-2----*/

.parallax_2 {
    background-image: url("../img/parallax-bg.jpeg");
    min-height: 598px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;

}
.parallax_2 .title-1 {
    color: #ffffff;
    font-weight: bolder;
    font-size: 32px;
    padding-top: 201px;
    padding-bottom: 55px;

}
.parallax_2 .brands-1 {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.parallax_2 .brands-1 .brands {
    margin-left: 76px;

}
.parallax_2 .brands-1 .loyer-3 {
    margin-top: 5px;
}

/*----Main in Parallax-2----*/

.main-2 {
    height: 2064px;
    background-color: #ffffff;
    text-align: center;
}
/*----GRID-1----*/
#grid-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    overflow: hidden;

}
/*----GRID-2----*/
#grid-2 {
    font-size: 14px;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    grid-template-rows: 258px 1fr 1fr 258px;
    justify-content: center;
    grid-gap: 42px 35px;
    grid-template-areas: "para1 para1 para1 para2"
                         "para3 para3 para4 para4"
                         "para5 para5 para6 para6"
                         "para7 para8 para8 para8";
}
.para-1, .para-2, .para-3, .para-4, .para-5, .para-6, .para-7, .para-8 {
    background-color: #f9f7f7;
    text-align: right;
}
.para-2, .para-7 {
    height: 258px;
    overflow: hidden;
}
.para-1 {
    grid-area: para1;
}
.para-2 {
    grid-area: para2;
}
.para-3 {
    grid-area: para3;
}
.para-4 {
    grid-area: para4;
}
.para-5 {
    grid-area: para5;
}
.para-6 {
    grid-area: para6;
}
.para-7 {
    grid-area: para7;
}
.para-8 {
    grid-area: para8;
}
.para-1, .para-8 {
    height: 259px;
    width: 856px;
}
.paraTitle2, .paraTitle7 {
    height: 48px;
}
.para-1wrap {
    height: 258px;
    width: 370px;
    float: right;
}
.para-8Wrap {
    height: 258px;
    width: 370px;
    float: left;
}
.textPara-3, .textPara-5, .textPara-4, .textPara-6, .textPara-8, .textPara-1  {
    text-align: right;
    padding: 22px;
}
.paraTitle1, .paraTitle3, .paraTitle4, .paraTitle5, .paraTitle6, .paraTitle8 {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 20px;
    padding-right: 22px;
}
.paraTitle2,  .paraTitle7 {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

/*----Footer----*/

footer .footer{
    background-color: #1d2124;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 80px;


}
.footerLogo {
    margin-left: 560px;
    padding-top: 9px;
}


