html, body {
    background-image: url("../img/Background@1X.png");
    color: #484848;
    font-family: AdobeInvisFont, 'Arimo', sans-serif;
    background-size: 100vh 100vw;
    text-align: center;
    text-transform: uppercase;
}
.wrapper {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    background-color: #f2f2f2;
    height: 608px;
    width: 1121px;
}
td {
    border: 1px solid #d7d7d7;
    height: 166px;
    width: 157px;
}
.nam {
    height: 112px;
    font-size: 20px;
    font-weight: bold;
}
.color {
    background-color: #e3e3e3;
}
table .storage {
    background-color: black;
}
.choose_your {
    font-size: 14px;
}
.standart, .ultimate, .premium {
    color: white;
    width: 204px;
}
.standart {
    background-color: #89c331;
}
.ultimate {
    background-color: #f04a56;
}
.premium {
    background-color: #20807c;
}
input {
    height: 41px;
    width: 144px;
    text-transform: uppercase;
    color: white;
    background-color: #414141;
    border-radius: 5px;
}
.buy_now {
    font-size: 16px;
    margin-top: 10px;
}
div {
    display: inline-block;
    font-size: 24px;
}
.lab {
    margin-bottom: 15px;
}
.dollars {
    font-size: 36px;
}
.cents {
    font-size: 18px;
    vertical-align: top;
    padding-top: 5px;
    margin-left: -7px;
}
.per_month {
    font-size: 14px;
    vertical-align: top;
    padding-top: 14px;
}
