body, html {
    width: 100%;
    height: 100%;
    font-family: AdobeInvisFont, 'Arimo', sans-serif;
    font-size: 70px;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    color: orange;
    background-color: #000;
    overflow: hidden;
}
.main {
    position: absolute;
    width: 75vw;
    height: 50em;
    bottom: 0;
    left: 10%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(350px) rotateX(20deg);
}
.main:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}
.title {
    text-align: center;
}
.content {
    position: absolute;
    top: 100%;
    animation: scroll 97s linear 5s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -100%; }
}


